.error-modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100;
  border-radius: 8px;
}

.error-modal h2 {
  margin: 0;
  padding: 1rem;
  background: #ff0055;
  color: white;
  border-radius: 8px 8px 0 0;
}

.error-modal p {
  margin: 0;
  padding: 1rem;
}

.error-modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .error-modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

