.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.form-control {
  margin: 1rem 0;
}

.authentication div {
  margin: 1rem 0;
  text-align: left;
}

.authentication label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.authentication input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.authentication button {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
